
        <app-navbar-user></app-navbar-user>
<!--<div class="block1">
    <img src= 'https://www.wallpapertip.com/wmimgs/42-425158_high-resolution-books-background.jpg'>

</div>-->
<div class="block1">
    <div class="box">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51myIKX98AL.jpg" alt="Cloudy Sky">
    </div>
</div>
<div class="block2">
    <mat-card class="card2"><mat-card-content>{{productList.productName}}</mat-card-content>
        <mat-card-content>{{productList.price}}</mat-card-content>
        <mat-card-actions class="btns">
            <div class="btn1">
        <form (ngSubmit) = "onaddcart()"  >
            <button type="submit" mat-raised-button class="one">Add to Cart</button>
        </form>
            </div>
        <div class="btn2">
            <button mat-raised-button class="two">Place Order</button>
        </div>
        </mat-card-actions>
        </mat-card>
    
    
</div>
<div class="block3">
    <mat-card class="card3">
        <mat-card-content>
    Extra Items
</mat-card-content> 
</mat-card>
</div>
