<app-navbar-user></app-navbar-user>
<!--<div class="block1">
    <img src= 'https://www.wallpapertip.com/wmimgs/42-425158_high-resolution-books-background.jpg'>

</div>-->
<nb-layout>
	<nb-layout-column left>
		<img
			class="image-holder"
			style="width: 30%; margin-top: 12%; margin-left: 20%"
			src="{{ productList.imageUrl }}"
			alt="Cloudy Sky"
		/>
	</nb-layout-column>
	<nb-layout-column right style="margin-left: -15%; margin-top: 3%">
		<nb-card style="margin-right: 15%" class="info-holder">
			<nb-card-header>Book Title: {{ productList.productName }}</nb-card-header>
			<nb-card-body
				><p>Price: ₹{{ productList.price }}</p>
				<div style="margin-top: 5%"></div>
				<p>Product Quantity: {{ productList.quantity }}</p></nb-card-body
			>
			<nb-card>
				<nb-card-body>Description: {{ productList.description }}</nb-card-body>
			</nb-card>
			<nb-card>
				<nb-card-header>
					<span style="margin-right: 15%"></span>
					<button nbButton status="primary" (click)="onaddcart(productList)">
						Add to Cart
					</button>
					<span style="margin-right: 25%"></span>
					<button nbButton status="success" (click)="placeitem(productList)">
						Place order
					</button>
				</nb-card-header>
			</nb-card>
		</nb-card>
	</nb-layout-column>
</nb-layout>
