<app-navbar-admin></app-navbar-admin>
<nb-layout>
	<nb-layout-column>
		<nb-card>
			<nb-card-body>
				<nb-tabset fullWidth>
					<nb-tab tabIcon="person-outline">
						<p><strong>Manage Users</strong>.</p>
						<nb-card>
							<nb-card-header>
								<p>Enter email address of user to check status</p>
							</nb-card-header>
							<nb-card-body>
								<div class="holder">
									<nb-form-field>
										<nb-icon icon="at-outline" nbPrefix pack="eva"></nb-icon>
										<input
											[(ngModel)]="checkEmail"
											nbInput
											placeholder="Enter Email address"
											required
											status="primary"
											type="text"
										/>
									</nb-form-field>
									<div class="spacing">
										<button (click)="check()" hero nbButton status="primary">
											Check
										</button>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
						<nb-card>
							<nb-card-header>
								<p>Enter email address of user to disable</p>
							</nb-card-header>
							<nb-card-body>
								<div class="holder">
									<nb-form-field>
										<nb-icon icon="at-outline" nbPrefix pack="eva"></nb-icon>
										<input
											[(ngModel)]="disableEmail"
											nbInput
											placeholder="Enter Email address"
											required
											status="danger"
											type="text"
										/>
									</nb-form-field>
									<div class="spacing">
										<button
											(click)="action('disable')"
											hero
											nbButton
											status="danger"
										>
											Disable
										</button>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
						<nb-card>
							<nb-card-header>
								<p>Enter email address of user to enable</p>
							</nb-card-header>
							<nb-card-body>
								<div class="holder">
									<nb-form-field>
										<nb-icon icon="at-outline" nbPrefix pack="eva"></nb-icon>
										<input
											[(ngModel)]="enableEmail"
											nbInput
											placeholder="Enter Email address"
											required
											status="success"
											type="text"
										/>
									</nb-form-field>
									<div class="spacing">
										<button
											(click)="action('enable')"
											hero
											nbButton
											status="success"
										>
											Enable
										</button>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
					</nb-tab>
					<nb-tab tabIcon="shield-off-outline">
						<p><strong>Remove two step verification of user</strong>.</p>
						<nb-card>
							<nb-card-header>
								<p>Enter email address to remove two step verification</p>
							</nb-card-header>
							<nb-card-body>
								<div class="holder">
									<nb-form-field>
										<nb-icon icon="at-outline" nbPrefix pack="eva"></nb-icon>
										<input
											[(ngModel)]="mfaEmail"
											nbInput
											placeholder="Enter Email address"
											required
											status="primary"
											type="text"
										/>
									</nb-form-field>
									<div class="spacing">
										<button (click)="remove()" hero nbButton status="primary">
											Remove
										</button>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
					</nb-tab>
					<nb-tab tabIcon="link-2-outline">
						<p><strong>Send Password Reset Code</strong>.</p>
						<nb-card>
							<nb-card-header>
								<p>Enter email address to send password reset code</p>
							</nb-card-header>
							<nb-card-body>
								<div class="holder">
									<nb-form-field>
										<nb-icon icon="at-outline" nbPrefix pack="eva"></nb-icon>
										<input
											[(ngModel)]="resetCodeEmail"
											nbInput
											placeholder="Enter Email address"
											required
											status="primary"
											type="text"
										/>
									</nb-form-field>
									<div class="spacing">
										<button (click)="reset()" hero nbButton status="primary">
											Send
										</button>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
					</nb-tab>
					<nb-tab tabIcon="inbox-outline">
						<p><strong>List of messages</strong>.</p>
						<nb-card>
							<nb-card-header
								>Format: Subject - Body - User Email - Timestamp
							</nb-card-header>
							<nb-card-body>
								<nb-list>
									<nb-list-item *ngFor="let message of messages">
										<p style="padding-left: 20px">{{ message.subject }}</p>
										<p style="padding-left: 20px">{{ message.body }}</p>
										<p style="padding-left: 20px">{{ message.userEmail }}</p>
										<p style="padding-left: 20px">
											{{ message.timeStamp }}
										</p>
										<span style="padding-left: 30px">
											<button
												(click)="deleteMessage(message.messageId)"
												nbButton
												status="danger"
											>
												Delete
											</button>
										</span>
									</nb-list-item>
									<nb-list-item *ngIf="messages.length == 0">
										<p>
											<nb-icon
												icon="bell-off-outline"
												nbPrefix
												pack="eva"
											></nb-icon>
											&nbsp;&nbsp;No new messages
										</p>
									</nb-list-item>
								</nb-list>
							</nb-card-body>
						</nb-card>
					</nb-tab>
					<nb-tab tabIcon="email-outline">
						<p><strong>Send Mail</strong>.</p>
						<nb-card>
							<nb-card-header>
								<p>Enter email address to send a personalised offer or mail</p>
							</nb-card-header>
							<nb-card-body>
								<p>
									Let this field be blank to send mail to all users or enter
									emails as comma seperated. (HTML is also supported)
								</p>
								<div class="holder">
									<nb-form-field class="spacing">
										<nb-icon
											icon="at-outline"
											nbPrefix
											pack="eva"
											status="primary"
										></nb-icon>
										<input
											[(ngModel)]="emailMail"
											nbInput
											placeholder="Enter Email address"
											required
											type="text"
										/>
									</nb-form-field>
									<nb-form-field class="spacing">
										<nb-icon
											icon="info-outline"
											nbPrefix
											pack="eva"
											status="primary"
										></nb-icon>
										<input
											[(ngModel)]="subject"
											nbInput
											placeholder="Enter Subject for the mail"
											required
											type="text"
										/>
									</nb-form-field>
									<nb-form-field class="spacing">
										<nb-icon
											icon="text-outline"
											nbPrefix
											pack="eva"
											status="info"
										></nb-icon>
										<textarea
											[(ngModel)]="body"
											nbInput
											placeholder="Enter Body of mail"
										></textarea>
									</nb-form-field>
									<div class="spacing">
										<button (click)="sendMail()" hero nbButton status="primary">
											Send
										</button>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
					</nb-tab>
				</nb-tabset>
			</nb-card-body>
		</nb-card>
	</nb-layout-column>
</nb-layout>
