<nb-layout>
	<nb-layout-column left>
		<form [formGroup]="loginForm">
			<div class="loginForm">
				<div class="holder">
					<b style="font-size: 30px; margin-left: 25%">LOGIN</b>
				</div>
				<div class="holder">
					<nb-form-field>
						<nb-icon icon="at-outline" nbPrefix pack="eva"></nb-icon>
						<input
							[(ngModel)]="Login.email"
							[class.is-invalid]="
								loginForm.get('email')?.invalid &&
								loginForm.get('email')?.touched
							"
							[status]="
								loginForm.get('email')?.dirty
									? loginForm.get('email')?.invalid
										? 'danger'
										: 'success'
									: 'basic'
							"
							autocomplete="on"
							autofocus
							formControlName="email"
							name="email"
							nbInput
							placeholder="Enter Email address"
							required
							type="email"
						/>
					</nb-form-field>
					<div
						*ngIf="
							(loginForm.get('email')?.invalid &&
								loginForm.get('email')?.touched) ||
							loginForm.get('email')?.dirty
						"
						class="form-errors"
					>
						<small
							*ngIf="loginForm.get('email')?.errors?.required"
							class="text-danger"
						>Email is required</small
						>

						<small
							*ngIf="loginForm.get('email')?.errors?.pattern"
							class="text-danger"
						>Please provide a valid email address</small
						>
					</div>
				</div>

				<div class="holder">
					<nb-form-field>
						<nb-icon icon="lock-outline" nbPrefix pack="eva"></nb-icon>
						<input
							[(ngModel)]="Login.password"
							[class.is-invalid]="
								loginForm.get('password')?.invalid &&
								loginForm.get('password')?.touched
							"
							[status]="
								loginForm.get('password')?.dirty
									? loginForm.get('password')?.invalid
										? 'danger'
										: 'success'
									: 'basic'
							"
							[type]="show ? 'text' : 'password'"
							formControlName="password"
							id="password"
							nbInput
							placeholder="Enter Password"
							required
						/>
						<nb-icon
							(click)="showPassword()"
							[icon]="
								show && Login.password ? 'eye-off-outline' : 'eye-outline'
							"
							[options]="{ animation: { type: 'pulse' } }"
							nbSuffix
							pack="eva"
						></nb-icon>
					</nb-form-field>
					<div
						*ngIf="
							(loginForm.get('password')?.invalid &&
								loginForm.get('password')?.touched) ||
							loginForm.get('password')?.dirty
						"
						class="form-errors"
					>
						<small
							*ngIf="loginForm.get('password')?.errors?.required"
							class="text-danger"
						>Password is required</small
						>

						<small
							*ngIf="
								loginForm.get('password')?.errors?.minlength ||
								loginForm.get('password')?.errors?.maxlength
							"
							class="text-danger"
						>The password length must be between 4 to 20 characters</small
						>
					</div>
				</div>
				<div class="holder loginDiv">
					<button (click)="go_login()" id="loginButton" nbButton status="info">
						Login
						<nb-icon icon="done-all-outline"></nb-icon>
					</button>
				</div>
				<div class="d">
					<span>
						New to Bookstore?
						<a routerLink="/signup" routerLinkActive="active">Click here</a>
						<br/>
						<br/>
						Did you forgot your password?
						<a
							(click)="onClick()"
							routerLink="/login"
							routerLinkActive="active"
							style="text-align: center"
						>Click Here</a
						>
					</span>
				</div>
			</div>
		</form>
	</nb-layout-column>
	<nb-layout-column>
		<div *ngIf="!deviceXs" id="loginImage">
			<img src="../../../../assets/svg/logoImage.svg"/>
		</div>
	</nb-layout-column>
</nb-layout>
