<!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <mat-spinner style="top:50%; left:50%;"></mat-spinner> 
</div>-->
<mat-toolbar>
	<mat-toolbar-row fxLayoutAlign="space-between center">
		<div>
			<button mat-button class="button">
				<div class="gap">BOOK</div>
				<br />
				<div class="sample">STORE</div>
			</button>
		</div>

		<div class="spacer">
			<button routerLink="/admin" routerLinkActive="active" mat-button>
				<mat-icon>shopping_cart</mat-icon>Products
			</button>
			<button routerLink="/admin/orders" routerLinkActive="active" mat-button>
				<mat-icon> local_shipping</mat-icon>Orders
			</button>
			<button mat-button (click)="onClick()">
				<mat-icon> mail</mat-icon>Dashboard
			</button>
		</div>
		<div fxLayout="row" fxLayoutAlign="end center">
			<form (ngSubmit)="onexit()">
				<button type="submit" mat-button>
					<mat-icon *ngIf="!deviceXs">exit_to_app</mat-icon>
					<span *ngIf="!deviceXs">Logout</span>
					<mat-icon *ngIf="deviceXs">exit_to_app</mat-icon>
				</button>
			</form>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
