.card{
    width: 32%;
    height: 39%;
    margin-top: 0%;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
}
.border{
    position: relative;
    border: solid ;
    border-color: black;
    border-width: 1px;
    margin-bottom: 5%;
    margin-left: 3%;
    width: 95%;
    height: 99%;
    justify-content: center;
    align-items: center;

    
}
img{
    position: relative;
     width: 90%;
     height:95%;
     padding-top:3%;
     padding-left: 5%;
     
     
}
.form{
    margin-left: 24%;
    margin-top: 5%;
}
.para{
    margin-top: 5%;
    margin-left: 25%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
span{
    font-size: 15px;
}
.submit-button{
    margin-left: 5%;
}