<nb-card class="card"
	><div class="border">
		<img class="qr" src="{{ qrcode }}" /></div
></nb-card>
<div class="para">
	<p>Scan the QR code on your phone</p>
	<span>1. Open Google or Microsoft authenticator app</span><br />
	<span>2) Point your phone to the screen to capture code</span><br />
	<span>3) Enter OTP below, to complete the setup</span>
	<br /><span
		>Note: To opt out of Multi-Factor Authentication, press out of the
		window</span
	>
</div>
<nb-form-field class="form" appearance="outline">
	<input
		nbInput
		placeholder="Enter OTP"
		required
		name="number"
		ngModel
		[(ngModel)]="otp"
		#tel="ngModel"
		autofocus
		(keydown.enter)="verify()"
	/>

	<!-- <mat-error *ngIf="tel.invalid" >OTP is Requied</mat-error> -->
</nb-form-field>
<button status="info" color="primary" class="submit-button" (click)="verify()">
	Submit
</button>
