
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div>
            <button mat-button class="button">
                <div class = "gap">BOOK</div><br>
                <div class = "sample">STORE</div>
        </button>
        </div>
        <div class="spacer">
    
            <button mat-button><mat-icon>shopping_cart</mat-icon>Products</button >
            <button mat-button><mat-icon> local_shipping</mat-icon>Orders</button >
        </div>
        
        <div fxLayout="row" fxLayoutAlign="end center">
            
                    <button mat-button>	
                        <mat-icon *ngIf="!deviceXs">exit_to_app</mat-icon>
                    <span *ngIf="!deviceXs">Logout</span>
                    <mat-icon *ngIf="deviceXs">exit_to_app</mat-icon>
    
                </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="page">
    
            <div class="addproduct">
                <div class="head">
                    <p>EDIT PRODUCT</p>
                </div>
          <form (ngSubmit) = "onSubmit()">      
            <mat-form-field appearance="outline">
            
            <input matInput value="{{employee.productName}}" [(ngModel)] = "employee.productName" name="productName" >
           </mat-form-field><br/>
    
          <mat-form-field appearance="outline">
            <input matInput value="{{employee.price}}" [(ngModel)] = "employee.price" name="price">
          </mat-form-field><br/>
    
          <mat-form-field appearance="outline">
            <textarea matInput rows="3" cols="40" value="{{employee.description}}" [(ngModel)] = "employee.description" name="description"></textarea>
          </mat-form-field><br/>
    
          <mat-form-field appearance="outline">
            <input matInput value="{{employee.imageUrl}}" [(ngModel)] = "employee.imageUrl" name="imageUrl">
          </mat-form-field><br/>
    
          <mat-form-field appearance="outline">
            <input matInput value="{{employee.quantity}}" [(ngModel)] = "employee.quantity" name="quantity">
          </mat-form-field><br/>
          
          <button type="submit"
                        mat-raised-button
                        color="primary"
                        class="add-button">
                        EDIT
                      </button>
            </form>
        </div>
    </div>
    