<!--<div *ngIf="flag==1" ><p>a</p>
    <button
    mat-raised-button
    color="primary"
  (click)="onCl">
    Send OTP
  </button>
</div>
<div *ngIf="flag==2" >b
    <button
    mat-raised-button
    color="primary"
 (click)="onCl">
    Send OTP
  </button>
</div>
<div *ngIf="flag==3" >c
    <button
    mat-raised-button
    color="primary"
 (click)="onCl">
    Send OTP
  </button>
</div>-->
<nb-card
	size="tiny"
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
	nbSpinnerMessage=""
>
	<nb-card-body>
		<div *ngIf="step == 1">
			<div class="para">
				<p>Enter your mail</p>
			</div>
			<div class="form">
				<nb-form-field class="form1" appearance="outline">
					<input
						nbInput
						status="primary"
						placeholder="Enter mail address"
						required
						name="number"
						[(ngModel)]="email"
						#tel="ngModel"
						autofocus
						(keydown.enter)="submitMail()"
					/>
				</nb-form-field>
				<br />
				<button
					nbButton
					status="primary"
					color="primary"
					class="submit-button"
					(click)="submitMail()"
				>
					Send OTP
				</button>
			</div>
		</div>

		<div *ngIf="step == 2">
			<div class="para"><p>Enter the code</p></div>
			<div class="form">
				<nb-form-field class="form" appearance="outline">
					<input
						nbInput
						status="info"
						placeholder="Enter code"
						required
						name="number"
						[(ngModel)]="code"
						#tel="ngModel"
						autofocus
						(keydown.enter)="submitCode()"
					/>
					<!-- <mat-error *ngIf="tel.invalid">Code is Requied</mat-error> -->
				</nb-form-field>
				<br />
				<button
					nbButton
					status="primary"
					class="submit-button"
					(click)="submitCode()"
				>
					Submit
				</button>
			</div>
		</div>
		<div *ngIf="step == 3">
			<div class="para2">
				<p>Reset Password</p>
			</div>
			<div class="form3">
				<nb-form-field appearance="outline">
					<input
						nbInput
						placeholder="Enter Password"
						type="password"
						required
						minlength="6"
						name="password"
						[(ngModel)]="pass"
						autofocus
						#password="ngModel"
					/>
					<!-- <mat-error *ngIf="password.errors && password.errors.required">
						Password is required
					</mat-error>
					<mat-error *ngIf="password.errors && password.errors.minlength">
						Password must be of length 6
					</mat-error> -->
				</nb-form-field>
				<br />

				<nb-form-field appearance="outline">
					<input
						nbInput
						placeholder="Confirm Password"
						type="password"
						required
						minlength="6"
						name="repassword"
						[(ngModel)]="conform_password"
						#repassword="ngModel"
						autofocus
						(keydown.enter)="submitPassword()"
					/>
					<!-- <mat-error *ngIf="repassword.errors && repassword.errors.required">
						Re-Enter Password is required
					</mat-error>  --> </nb-form-field
				><br />
				<button
					nbButton
					status="success"
					color="primary"
					class="final-button"
					(click)="submitPassword()"
				>
					Done
				</button>
			</div>
		</div>
	</nb-card-body>
</nb-card>
