<!--<div *ngIf="flag==1" ><p>a</p>
    <button
    mat-raised-button
    color="primary"
  (click)="onCl">
    Send OTP
  </button>
</div>
<div *ngIf="flag==2" >b
    <button
    mat-raised-button
    color="primary"
 (click)="onCl">
    Send OTP
  </button>
</div>
<div *ngIf="flag==3" >c
    <button
    mat-raised-button
    color="primary"
 (click)="onCl">
    Send OTP
  </button>
</div>-->
<div *ngIf="step==1">
    <div class="para">
        <p>Enter your mail</p>
    </div>
    <div class="form" ><mat-form-field class="form1" appearance="outline">
        <input matInput placeholder="Enter mail address"  required name="number"
        [(ngModel)] = "email"
        #tel="ngModel">
        <mat-error *ngIf="tel.invalid">Mail is Requied</mat-error>
    </mat-form-field> <br>
    <button
                    mat-raised-button
                    color="primary"
                    class="submit-button" (click)="submitMail()">
                    Send OTP
                </button></div>
    </div>

<div *ngIf="step==2">
<div class="para1">
    <p>Mail Sent!</p>
    <span>Enter the code</span><br>
</div>
<div class="form"><mat-form-field class="form" appearance="outline">
    <input matInput placeholder="Enter code"  required name="number"
    [(ngModel)] = "code"
      #tel="ngModel">
    <mat-error *ngIf="tel.invalid">Code is Requied</mat-error>
  </mat-form-field> <br>
  <button
                mat-raised-button
                color="primary"
                class="submit-button" (click)="submitCode()">
                Submit
</button></div>
</div>
<div *ngIf="step==3">
<div class="para2">
    <p>Reset Password</p>
</div>
<div class="form3">
    <mat-form-field appearance="outline">
        <input matInput placeholder="Enter Password" type="password" required minlength="6" name="password" [(ngModel)] = "pass"
          #password="ngModel">
        <mat-error *ngIf="password.errors && password.errors.required">
          Password is required
        </mat-error>
        <mat-error
          *ngIf="password.errors && password.errors.minlength">
          Password must be of length 6
        </mat-error>
      </mat-form-field><br/>

      <mat-form-field appearance="outline">
          <input matInput placeholder="Confirm Password" type="password" required 
          minlength="6"
          name="repassword"
          [(ngModel)] = "conform_password"
          #repassword="ngModel">
          <mat-error
            *ngIf="repassword.errors && repassword.errors.required">
            Re-Enter Password is required
          </mat-error>
      </mat-form-field><br/>
      <button
                mat-raised-button
                color="primary"
                class="final-button"
                (click) = "submitPassword()"
                >
                Done
</button>
</div>


</div>
