<div class="para">
	<p class="otpMessage">
		Please enter 6-digit verification code from your Authenticator app!
	</p>
	<br />
	<span class="otpText">Enter the OTP</span><br />
</div>
<div class="form">
	<nb-form-field appearance="outline" class="otpBox">
		<input
			#tel="ngModel"
			[(ngModel)]="otp"
			name="number"
			nbInput
			placeholder="Enter OTP"
			required
		/>
	</nb-form-field>
	<br />
	<button
		(click)="verify()"
		class="submit-button"
		color="primary"
		nbButton
		status="primary"
	>
		Submit
	</button>
</div>

<div class="disclaimer">
	<p class="otpDisclaimer">Lost access to your Authenticator app?</p>
	<br />
	<a href="mailto:team2.ebookstore@gmail.com" id="adminEmail"
		>Contact Administrator</a
	>
</div>
