<!-- <div *ngIf="emailvalid"> 
  <strong>Email Address</strong> is not valid..
</div>
<div *ngIf="mobilevalid">
  <strong>Mobile Number</strong> is not valid..
</div>
<div *ngIf="useralready">
  <strong>Username</strong> is already exists..
</div> -->

<div class="login-page" fxFlex="100" fxFlexFill>
	<form (ngSubmit)="onSubmit()">
		<div class="align" fxFlex="100">
			<h1 class="head">SIGN UP</h1>
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input
					matInput
					placeholder="Enter Email"
					required
					name="email"
					[(ngModel)]="Signup.email"
					ngModel
					#email="ngModel"
				/>
				<mat-error *ngIf="email.invalid"
					>Email is required</mat-error
				> </mat-form-field
			><br />

			<mat-form-field appearance="outline">
				<mat-label>Username</mat-label>
				<input
					matInput
					placeholder="Enter Username"
					required
					name="username"
					[(ngModel)]="Signup.username"
					ngModel
					#username="ngModel"
				/>
				<mat-error *ngIf="username.errors">
					Username is required
				</mat-error> </mat-form-field
			><br />

			<mat-form-field appearance="outline">
				<mat-label>Mobile Number</mat-label>
				<input
					matInput
					placeholder="Enter Mobile Number"
					type="tel"
					required
					name="mobilenumber"
					ngModel
					#tel="ngModel"
					[(ngModel)]="Signup.mobileNumber"
				/>
				<mat-error *ngIf="tel.invalid"
					>phone number is required</mat-error
				> </mat-form-field
			><br />

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input
					matInput
					placeholder="Enter Password"
					type="password"
					required
					minlength="6"
					name="password"
					ngModel
					#password="ngModel"
					[(ngModel)]="Signup.password"
				/>
				<mat-error *ngIf="password.errors && password.errors.required">
					Password is required
				</mat-error>
				<mat-error *ngIf="password.errors && password.errors.minlength">
					Password must be of length 6
				</mat-error> </mat-form-field
			><br />

			<mat-form-field appearance="outline">
				<mat-label>Confirm Password</mat-label>
				<input
					matInput
					placeholder="Confirm Password"
					type="password"
					required
					minlength="6"
					name="confirmpassword"
					ngModel
					#repassword="ngModel"
					[(ngModel)]="Signup.confirmpassword"
				/>
				<mat-error *ngIf="repassword.errors && repassword.errors.required">
					Re-Enter Password is required
				</mat-error> </mat-form-field
			><br />

			<button
				type="submit"
				mat-raised-button
				color="primary"
				class="login-button"
			>
				Sign Up</button
			><br /><br />

			<div class="d">
				<mat-checkbox
					appearance="outline"
					color="primary"
					name="mfa"
					ngModel
					#mfa="ngModel"
					[(ngModel)]="Signup.mfa"
				>
					Enable Multi-Factor Authentication
				</mat-checkbox>
				<br />
				<p>
					Already a member?
					<a routerLink="/login" routerLinkActive="active">Click here</a>
				</p>
			</div>
		</div>
	</form>
</div>
