<nb-layout>
	<nb-layout-column left>
		<div class="loginForm">
			<div class="holder">
				<b style="font-size: 30px; margin-left: 25%">SIGNUP</b>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon icon="at-outline" nbPrefix pack="eva"></nb-icon>
					<input
						[(ngModel)]="Signup.email"
						autofocus
						nbInput
						placeholder="Enter Email address"
						required
						type="text"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon icon="person-outline" nbPrefix pack="eva"></nb-icon>
					<input
						[(ngModel)]="Signup.username"
						nbInput
						placeholder="Enter Username"
						required
						type="text"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon icon="phone-outline" nbPrefix pack="eva"></nb-icon>
					<input
						[(ngModel)]="mobile"
						nbInput
						placeholder="Enter Mobile Number"
						required
						type="text"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon icon="lock-outline" nbPrefix pack="eva"></nb-icon>
					<input
						[(ngModel)]="pass"
						[type]="showPass ? 'text' : 'password'"
						id="password"
						nbInput
						placeholder="Enter Password"
						required
					/>
					<nb-icon
						(click)="showPassword()"
						[icon]="showPass && pass ? 'eye-off-outline' : 'eye-outline'"
						[options]="{ animation: { type: 'pulse' } }"
						nbSuffix
						pack="eva"
					></nb-icon>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon icon="lock-outline" nbPrefix pack="eva"></nb-icon>
					<input
						(keydown.enter)="checkMfa()"
						[(ngModel)]="conformPass"
						[type]="showConformPass ? 'text' : 'password'"
						id="confirmpassword"
						nbInput
						placeholder="Confirm Password"
						required
					/>
					<nb-icon
						(click)="showConformPassword()"
						[icon]="
							showConformPass && conformPass ? 'eye-off-outline' : 'eye-outline'
						"
						[options]="{ animation: { type: 'pulse' } }"
						nbSuffix
						pack="eva"
					></nb-icon>
				</nb-form-field>
				<div id="checkBox">
					<nb-checkbox [(ngModel)]="Signup.mfa" status="primary"
						>Enable Two Step Authentication
					</nb-checkbox>
				</div>
				<div class="holder loginDiv">
					<button
						(click)="checkMfa()"
						id="loginButton"
						nbButton
						status="info"
						[disabled]="stop"
					>
						Signup
						<nb-icon icon="arrowhead-right-outline"></nb-icon>
					</button>
				</div>
				<div class="">
					<p>
						Are you already a member?
						<a routerLink="/login" routerLinkActive="active">Click here</a>
					</p>
				</div>
			</div>
		</div>
	</nb-layout-column>

	<nb-layout-column right>
		<div id="signupImage">
			<img src="../../../assets/svg/signupImage.svg" />
		</div>
	</nb-layout-column>
</nb-layout>
