<nb-layout>
	<nb-layout-column left>
		<div class="loginForm">
			<div class="holder">
				<b style="font-size: 30px; margin-left: 25%">SIGNUP</b>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
					<input
						required
						type="text"
						nbInput
						placeholder="Enter Email address"
						autofocus
						[(ngModel)]="Signup.email"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
					<input
						required
						type="text"
						nbInput
						placeholder="Enter Username"
						[(ngModel)]="Signup.username"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon nbPrefix icon="phone-outline" pack="eva"></nb-icon>
					<input
						required
						type="text"
						nbInput
						placeholder="Enter Mobile Number"
						[(ngModel)]="mobile"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
					<input
						required
						id="password"
						[type]="showPass ? 'text' : 'password'"
						nbInput
						placeholder="Enter Password"
						[(ngModel)]="pass"
					/>
					<nb-icon
						nbSuffix
						[icon]="showPass && pass ? 'eye-off-outline' : 'eye-outline'"
						pack="eva"
						[options]="{ animation: { type: 'pulse' } }"
						(click)="showPassword()"
					></nb-icon>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
					<input
						required
						id="confirmpassword"
						[type]="showConformPass ? 'text' : 'password'"
						nbInput
						placeholder="Confirm Password"
						[(ngModel)]="conformPass"
						(keydown.enter)="checkMfa()"
					/>
					<nb-icon
						nbSuffix
						[icon]="
							showConformPass && conformPass ? 'eye-off-outline' : 'eye-outline'
						"
						pack="eva"
						[options]="{ animation: { type: 'pulse' } }"
						(click)="showConformPassword()"
					></nb-icon>
				</nb-form-field>
				<div id="checkBox">
					<nb-checkbox status="primary" [(ngModel)]="Signup.mfa"
						>Enable Two Step Authentication</nb-checkbox
					>
				</div>
				<div class="holder loginDiv">
					<button nbButton status="info" id="loginButton" (click)="checkMfa()">
						Signup<nb-icon icon="arrowhead-right-outline"></nb-icon>
					</button>
				</div>
				<div class="">
					<p>
						Are you already a member?
						<a routerLink="/login" routerLinkActive="active">Click here</a>
					</p>
				</div>
			</div>
		</div>
	</nb-layout-column>

	<nb-layout-column right>
		<div id="signupImage">
			<img src="../../../assets/svg/signupImage.svg" />
		</div>
	</nb-layout-column>
</nb-layout>
