<app-navbar-admin></app-navbar-admin>
<nb-layout>
	<nb-layout-column left>
		<img
			src="../../../assets/svg/addproductImage.svg"
			style="margin-left: 20%; margin-top: 10%"
		/>
	</nb-layout-column>
	<nb-layout-column right style="margin-left: -5%">
		<div class="loginForm">
			<div class="holder disabledDiv" style="margin-top: -20%">
				<button
					disabled
					id="addNewProductButton"
					nbButton
					status="info"
					style="color: #fff"
				>
					Edit Product
				</button>
			</div>
			<div class="holder">
				<nb-form-field>
					<input
						[(ngModel)]="employee.productName"
						nbInput
						placeholder="Product Name"
						required
						shape="semi-round"
						type="text"
						value="{{ employee.productName }}"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<input
						[(ngModel)]="employee.price"
						nbInput
						placeholder="Product Price"
						required
						shape="semi-round"
						type="text"
						value="{{ employee.price }}"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<textarea
						[(ngModel)]="employee.description"
						fullWidth
						nbInput
						placeholder="Product Description"
						rows="5"
						shape="semi-round"
						style="resize: vertical; max-height: 150px"
						value="{{ employee.description }}"
					></textarea>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<input
						[(ngModel)]="employee.imageUrl"
						nbInput
						placeholder="Image URL"
						required
						shape="semi-round"
						type="text"
						value="{{ employee.imageUrl }}"
					/>
				</nb-form-field>
			</div>
			<div class="holder">
				<nb-form-field>
					<input
						[(ngModel)]="employee.quantity"
						nbInput
						placeholder="Product quantity"
						required
						shape="semi-round"
						type="text"
						value="{{ employee.quantity }}"
					/>
				</nb-form-field>
			</div>
			<div class="holder loginDiv">
				<button (click)="OnSubmit()" id="addButton" nbButton status="info">
					Edit
					<nb-icon
						[options]="{ animation: { type: 'pulse' } }"
						icon="edit-2-outline"
						pack="eva"
					></nb-icon>
				</button>
			</div>
		</div>
	</nb-layout-column>
</nb-layout>
