/* .full-width-table {
	width: 100%;
	font-weight: 850;
}
.mat-elevation-z8 {
	margin-top: 1%;
	margin-right: 40%;
	margin-left: 5%;
	text-align: start;
}
.ali {
	padding-left: 19%;
}
th {
	height: 50px;
	font-weight: bold;
	text-align: center;
	font-size: 10px auto;
	padding: auto;
}
img {
	padding: 8%;
	width: 90px;
	height: 90px;
}
.image {
	background-image: url("src\assets\productImage 1.png");
	background-size: 22%;
	background-position-x: 85%;
	background-position-y: 4%;
	background-repeat: no-repeat;
}
.addpro {
	position: absolute;
	left: 68%;
	top: 59%;
}

.edit {
	background-color: rgb(253, 207, 0);
	align-content: center;
	border-color: rgb(255, 255, 255);
	border-radius: 10%;
	width: 19%;
	border: none;

	padding-top: 2%;
	color: azure;
	color: #fff;
	box-shadow: 0 0 40px 40px rgb(253, 207, 0) inset, 0 0 0 0 rgb(253, 207, 0);
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.edit:hover {
	box-shadow: 0 0 10px 0 rgb(253, 250, 43) inset, 0 0 10px 4px rgb(253, 250, 43);
}
.delete {
	background-color: rgb(243, 86, 107);
	align-content: center;
	margin-left: 10%;
	border-color: rgb(255, 255, 255);
	border-radius: 10%;
	width: 20%;
	border: none;
	padding-top: 2%;
	color: azure;
	box-shadow: 0 0 40px 40px rgb(243, 86, 107) inset, 0 0 0 0 rgb(243, 86, 107);
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.delete:hover {
	box-shadow: 0 0 10px 0 rgb(243, 86, 107) inset, 0 0 10px 4px rgb(243, 86, 107);
}
td {
	align-content: space-around;
}
mat-paginator {
	height: 50px;
} */
mat-paginator {
	height: 50px;
	width: 64%;
}
th {
	height: 50px;
	font-weight: bold;
	text-align: center;
	font-size: 10px auto;
	padding: auto;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	background-color: #3f51b5;
	color: white;
}
table {
	margin-top: 2%;
	width: 60%;
	height: 90%;
	margin-left: 4%;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: whitesmoke;
}
img {
	max-width: 100%;
	max-height: 100%;
	display: block; /* remove extra space below image */
	border-radius: 5px;
}
tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.example-element-diagram {
	width: 120px;
	padding: 8px;
	border: 2px solid black;
	font-weight: lighter;
	margin: 8px 0;
	height: 110px;
}

.example-element-image {
	position: relative;
	float: left;
	background-color: black;
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}
img {
	padding-left: 20%;
}
.example-element-name {
	float: left;
	margin-left: 50%;
	background-color: aqua;
}
.example-element-quant {
	float: right;
	background-color: rgb(97, 35, 84);
}
.example-element-detail {
	width: 100%;
}

.example-element-description {
	margin-left: 5%;

	padding: 16px;
}

.example-element-description-attribution {
	opacity: 0.5;
}
span {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}
.icons {
	float: right;
	width: 25%;
	margin-left: 20%;
}
.edit {
	position: relative;
	top: 50px;
	background-color: rgb(253, 207, 0);
	align-content: center;
	border-color: rgb(255, 255, 255);
	border-radius: 10%;
	width: 19%;
	border: none;

	padding-top: 2%;
	color: azure;
	color: #fff;
	box-shadow: 0 0 40px 40px rgb(253, 207, 0) inset, 0 0 0 0 rgb(253, 207, 0);
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.edit:hover {
	box-shadow: 0 0 10px 0 rgb(253, 250, 43) inset, 0 0 10px 4px rgb(253, 250, 43);
}
.delete {
	position: relative;
	top: 50px;
	background-color: rgb(243, 86, 107);
	align-content: center;
	margin-left: 10%;
	border-color: rgb(255, 255, 255);
	border-radius: 10%;
	width: 20%;
	border: none;
	padding-top: 2%;
	color: azure;
	box-shadow: 0 0 40px 40px rgb(243, 86, 107) inset, 0 0 0 0 rgb(243, 86, 107);
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.delete:hover {
	box-shadow: 0 0 10px 0 rgb(243, 86, 107) inset, 0 0 10px 4px rgb(243, 86, 107);
}
.image {
	background-image: url("src\assets\productImage 1.png");
	background-size: 22%;
	background-position-x: 85%;
	background-position-y: 4%;
	background-repeat: no-repeat;
	overflow: hidden;
}
.addpro {
	position: absolute;
	left: 68%;
	top: 59%;
}
td {
	align-content: space-around;
}
p {
	word-break: break-word;
}
