<mat-toolbar style="position: fixed; z-index: 10; display: block">
	<mat-toolbar-row fxLayoutAlign="space-between center">
		<div>
			<button class="button" mat-button>
				<div class="gap" style="border: none">BOOK</div>
				<br />
				<div class="sample" style="border: none">STORE</div>
			</button>
		</div>

		<div class="spacer">
			<button mat-button routerLink="/home" routerLinkActive="active">
				<mat-icon>home</mat-icon>
				<span style="margin-left: 3px">Home</span>
			</button>
			<button mat-button routerLink="/cart" routerLinkActive="active">
				<mat-icon>shopping_cart </mat-icon>
				<span style="margin-left: 3px">Cart</span>
			</button>
			<button mat-button routerLink="/orders" routerLinkActive="active">
				<mat-icon> local_shipping </mat-icon>
				<span style="margin-left: 3px">Orders</span>
			</button>
			<button (click)="onClick()" mat-button>
				<mat-icon> mail</mat-icon>
				<span style="margin-left: 3px">Dashboard</span>
			</button>
		</div>
		<div fxLayout="row" fxLayoutAlign="end center" style="color: white">
			<form (ngSubmit)="onexit()">
				<button mat-button type="submit">
					<mat-icon *ngIf="!deviceXs">exit_to_app</mat-icon>
					<span *ngIf="!deviceXs">Logout</span>
					<mat-icon *ngIf="deviceXs">exit_to_app</mat-icon>
				</button>
			</form>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
