.loginForm {
	max-width: 500px;
	position: absolute;
	padding-left: 10%;
	top: 30%;
}
input {
	color: nb-theme(#3b3b3b);
}
input:active,
input:focus {
	color: #36f;
}
#signupButton {
	margin-left: 20px;
	height: 40px;
	width: 90px;
	display: inline;
}
#addButton {
	width: 90px;
	display: block;
	background-color: #7868e6;
	margin-left: -45px;
}
#addNewProductButton {
	width: 250px;
	background-color: #7868e6;
}
.loginDiv {
	padding-left: 20%;
	padding-top: 5%;
}
.disabledDiv {
	color: #fff;
}
#password {
	font-weight: 100 lighter;
}
.holder {
	padding-bottom: 20px;
}
