<!-- <div *ngIf="loaderService.isLoading | async" class="loader-container"> -->
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<!-- <mat-spinner style="top:45%; left:48%;"></mat-spinner> -->
<!-- </div> -->
<div fxLayout>
	<mat-toolbar id="userToolbar">
		<mat-toolbar-row fxLayoutAlign="space-between center">
			<div>
				<button mat-button class="button">
					<div class="head">BOOK STORE</div>
				</button>
			</div>
			<div class="spacer">
				<button routerLink="/home" routerLinkActive="active" mat-button>
					<mat-icon>home</mat-icon><span>Home</span>
				</button>
				<button routerLink="/cart" routerLinkActive="active" mat-button>
					<mat-icon>shopping_cart</mat-icon><span>Cart</span>
				</button>
				<button routerLink="/orders" routerLinkActive="active" mat-button>
					<mat-icon> local_shipping</mat-icon><span>Orders</span>
				</button>
			</div>

			<div fxLayout="row" fxLayoutAlign="end center">
				<form (ngSubmit)="onexit()">
					<button type="submit" mat-button>
						<mat-icon *ngIf="!deviceXs">exit_to_app</mat-icon>
						<span *ngIf="!deviceXs">Logout</span>
						<mat-icon *ngIf="deviceXs">exit_to_app</mat-icon>
					</button>
				</form>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
