<div class="mail"><div class="page">
    
    <div class="addproduct">
        <div class="head">
            <p>MAIL CONTENT</p>
        </div>
    
  <mat-form-field appearance="outline">
    <input matInput placeholder="Mail" required name="subject" ngModel
          #username="ngModel"></mat-form-field><br/>  

  <mat-form-field appearance="outline">
    <input matInput placeholder="Subject" required name="subject" ngModel
      #username="ngModel">
   </mat-form-field><br/>



  <mat-form-field appearance="outline">
    <textarea matInput rows="12" cols="40" placeholder="Body" required name="desci" ngModel
      #username="ngModel"></textarea>
  </mat-form-field><br/>

  
  <button
                mat-raised-button
                color="primary"
                class="add-button">
                SEND
              </button>
</div>
</div>
</div>