<div class="mail">
	<div class="page">

		<div class="addproduct">
			<div class="head">
				<p>MAIL CONTENT</p>
			</div>

			<mat-form-field appearance="outline">
				<input #username="ngModel" matInput name="subject" ngModel placeholder="Mail"
							 required></mat-form-field>
			<br/>

			<mat-form-field appearance="outline">
				<input #username="ngModel" matInput name="subject" ngModel placeholder="Subject"
							 required>
			</mat-form-field>
			<br/>


			<mat-form-field appearance="outline">
    <textarea #username="ngModel" cols="40" matInput name="desci" ngModel placeholder="Body" required
							rows="12"></textarea>
			</mat-form-field>
			<br/>


			<button
				class="add-button"
				color="primary"
				mat-raised-button>
				SEND
			</button>
		</div>
	</div>
</div>
