<div class="para">
	<p class="otpMessage">
		Please enter 6-digit verification code from your Authenticator app!
	</p>
	<br />
	<span class="otpText">Enter the OTP</span><br />
</div>
<div class="form">
	<nb-form-field class="otpBox" appearance="outline">
		<input
			nbInput
			placeholder="Enter OTP"
			required
			name="number"
			[(ngModel)]="otp"
			#tel="ngModel"
		/>
		<!-- <mat-error *ngIf="tel.invalid">OTP is Requied</mat-error> -->
	</nb-form-field>
	<br />
	<button
		nbButton
		status="primary"
		color="primary"
		class="submit-button"
		(click)="verify()"
	>
		Submit
	</button>
</div>

<div class="disclaimer">
	<p class="otpDisclaimer">Lost access to your Authenticator app?</p>
	<br />
	<a id="adminEmail" href="mailto:admin@gmail.com">Contact Administrator</a>
</div>
