<!-- <nb-layout> -->
<!-- <nb-layout-header fixed> -->
<!-- Insert header here -->
<!-- </nb-layout-header> -->

<!-- <nb-layout-column>

<notifier-container></notifier-container>
<div class="container">
	
	<router-outlet></router-outlet>
</div>

 <nb-layout>
	<nb-layout-header> </nb-layout-header>
	<nb-layout-column>
		<app-checkout></app-checkout>
	</nb-layout-column>
</nb-layout> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-sigin></app-sigin> -->

<!-- </nb-layout-column> -->
<!-- <app-product-page [deviceXs]="deviceXs"></app-product-page> -->
<!-- <app-home-page [deviceXs]="deviceXs"></app-home-page> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-checkout></app-checkout> -->
<!-- <nb-layout-footer fixed> -->
<!-- Insert footer here -->
<!-- </nb-layout-footer> -->
<!-- </nb-layout> -->
<!-- </nb-layout> -->
<!-- <notifier-container></notifier-container>
<div class="container">
	<router-outlet></router-outlet>
</div> -->
<notifier-container></notifier-container>
<div class="container">
	<router-outlet></router-outlet>

	<!-- <router-outlet></router-outlet> -->
	<!-- <nb-layout>
	<nb-layout-header fixed> -->
	<!-- Insert header here -->
	<!-- </nb-layout-header>

	<nb-layout-column>
		<app-checkout></app-checkout>
		<router-outlet></router-outlet>
	</nb-layout-column>

	<nb-layout-footer fixed> -->
	<!-- Insert footer here -->
	<!-- </nb-layout-footer>
</nb-layout> -->
</div>
