.head {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}

.spacer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
span {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 1%;
  padding-top: 1%;
  font-size: 20px;
  font-weight: 100;
}
.spacer {
  flex: 1 1 auto;
}

.overlay {
  position: absolute;
  top: 8.3%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1b1b1b;
}

.container:hover .overlay {
  opacity: 0.6;
}
.container:hover .text {
  opacity: 10;
}
.container:hover .text1 {
  opacity: 10;
}

.text1 {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 50%;
  font-weight: 400;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text2 {
  color: rgb(245, 212, 63);
  font-size: 40px;
  position: absolute;
  top: 37%;
  left: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.glay {
  position: absolute;
  padding-top: 2%;
  padding-left: 4%;
  background-color: white;
}

.card > mat-card {
  width: 85%;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}

.card-action {
  margin-top: -10%;
}
.card img {
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.block1 {
  font-weight: 500;
  font-size: 18px;

  height: 20px;
  float: left;
}
.block2 {
  height: 20px;
  text-align: end;
  font-size: 13px;
}
.viewb {
  left: 5%;
  width: 90%;
  background-color: rgb(228, 228, 228);
}
.parallax {
  /* The image used */
  background-image: url("https://images2.alphacoders.com/261/thumb-1920-26102.jpg");

  /* Full height */
  height: 60%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
