<app-navbar-user></app-navbar-user>

<nb-layout>
	<nb-layout-column>
		<nb-card>
			<nb-card-body>
				<nb-stepper disableStepNavigation orientation="horizontal">
					<nb-step [label]="labelOne">
						<ng-template #labelOne>Details</ng-template>
						<h4>Enter your details</h4>
						<p class="lorem">Hii, we need your details to process the order!</p>
						<input
							autofocus
							class="address"
							nbInput
							placeholder="Enter your address"
							required
							status="basic"
							type="text"
						/>
						<input
							nbInput
							placeholder="Enter your city"
							status="basic"
							type="text"
						/>
						<input
							nbInput
							placeholder="Enter your pincode"
							status="basic"
							type="text"
						/>
						<p class="lorem"></p>
						<button class="prev-button" disabled nbButton nbStepperNext>
							prev
						</button>
						<button class="next-button" nbButton nbStepperNext>next</button>
					</nb-step>
					<nb-step [label]="labelTwo">
						<ng-template #labelTwo>Items</ng-template>
						<h4>Here are books that you are interested to buy</h4>
						<div>
							<nb-card class="products" size="medium">
								<nb-card-header>
									<div class="rows">
										<p class="title">Product Name</p>
									</div>
								</nb-card-header>
								<nb-list>
									<nb-list-item *ngFor="let e of cart">
										<nb-card-body>
											<div class="rows">
												<p class="title">{{ e.productName }}</p>
											</div>
										</nb-card-body>
									</nb-list-item>
								</nb-list>
							</nb-card>
						</div>
						<button class="prev-button" nbButton nbStepperPrevious>prev</button>
						<button class="next-button" nbButton nbStepperNext>next</button>
					</nb-step>
					<nb-step label="Payment">
						<h4>Choose payment gateway</h4>
						<nb-card *ngIf="paymentDone" status="success">
							<nb-card-header>
								<p>Payment Successful</p>
							</nb-card-header>
							<nb-card-body>
								Hii your payment is processed and your order is placed!
								<button
									nbButton
									status="success"
									style="position: relative; margin-top: 30px"
								>
									Orders
								</button>
							</nb-card-body>
						</nb-card>
						<span *ngIf="!paymentDone">
							<div class="container"></div>
							<button
								(click)="checkout(money)"
								class="payment"
								nbButton
								status="primary"
							>
								Stripe
							</button>
							<!-- <div class="demo">
								<button
									nbButton
									status="primary"
									class="payment"
									(click)="(paymentRequest)"
								>
									Google Pay
								</button> -->
							<!-- <google-pay-button
									environment="TEST"
									[buttonColor]="buttonColor"
									[buttonType]="buttonType"
									[paymentRequest]="paymentRequest"
									[style.width.px]="buttonWidth"
									[style.height.px]="buttonHeight"
									(loadpaymentdata)="onLoadPaymentData($event)"
								></google-pay-button> -->
							<!-- </div> -->
							<button nbButton status="primary" class="payment" (click)="pay()">
								Razor Pay
							</button>
						</span>
						<div>
							<button
								(click)="togglePaid(false)"
								class="prev-button"
								nbButton
								nbStepperPrevious
							>
								prev
							</button>
							<button
								(click)="finalizeOrder()"
								class="next-button"
								nbButton
								nbStepperNext
							>
								next
							</button>
						</div>
					</nb-step>
					<nb-step label="Status">
						<ng-template #labelFour>Final Step</ng-template>
						<h4>Order Successful</h4>
						<p class="lorem">
							<nb-icon
								class="success"
								icon="done-all-outline"
								pack="eva"
							></nb-icon>
						</p>
						<button class="prev-button" disabled nbButton nbStepperPrevious>
							prev
						</button>
						<button
							class="next-button"
							nbButton
							nbStepperNext
							routerLink="/orders"
							(click)="remove()"
						>
							Orders
						</button>
					</nb-step>
				</nb-stepper>
			</nb-card-body>
		</nb-card>
	</nb-layout-column>
</nb-layout>
