<nb-card
	[nbSpinner]="loading"
	nbSpinnerMessage=""
	nbSpinnerSize="large"
	nbSpinnerStatus="primary"
	size="tiny"
>
	<nb-card-body>
		<div>
			<div class="para">
				<p>Enter your mail</p>
			</div>
			<div class="form">
				<nb-form-field appearance="outline" class="form1">
					<input
						autofocus
						name="number"
						nbInput
						placeholder="Enter mail address"
						required
						status="primary"
					/>
				</nb-form-field>
				<br />
				<button class="submit-button" color="primary" nbButton status="primary">
					Send OTP
				</button>
			</div>
		</div>
	</nb-card-body>
</nb-card>
