<app-navbar-user></app-navbar-user>
<nb-layout style="padding-top: 30px">
	<nb-sidebar>
		<nb-card>
			<nb-card-body>
				<nb-user
					name="{{ username.split('@')[0] }}"
					size="medium"
					title="{{ role }}"
				>
				</nb-user>
			</nb-card-body>
		</nb-card>
		<div class="padding-bottom: 30px"></div>
		<nb-card>
			<nb-card-body>
				<p>Mobile: {{ this.mobile }}</p>

				<p>
					Active:
					{{ this.active ? "Yes" : "No" }}
				</p>
				<p>Email: {{ this.email }}</p>
			</nb-card-body>
		</nb-card>
		<nb-card>
			<nb-card-header>Filters (Price)</nb-card-header>
			<nb-card-body>
				<button (click)="lowToHigh()" hero nbButton status="info">
					Low to High
				</button>
				<div style="margin-bottom: 15px"></div>
				<button (click)="highToLow()" hero nbButton status="info">
					High to Low
				</button>
				<div style="margin-bottom: 15px"></div>
				<button (click)="reset()" hero nbButton status="info">
					RESET Search
				</button>
				<div style="margin-bottom: 30px"></div>
				<input
					(input)="search($event.target)"
					[(ngModel)]="term"
					nbInput
					placeholder="Search"
					status="info"
					style="max-width: 160px"
				/>
			</nb-card-body>
		</nb-card>
	</nb-sidebar>
	<nb-layout-column>
		<nb-layout-column
			left
			style="
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin-top: 25px;
			"
		>
			<nb-card
				*ngFor="let item of productList"
				accent="info"
				style="display: flex; align-items: center; margin-right: 1.6rem"
			>
				<nb-card-header>
					<p style="font-size: large">{{ item.productName }}</p>
				</nb-card-header>
				<nb-card-body>
					<span class="productHover">
						<figure>
							<img
								alt="item.productName"
								height="280vh"
								src="{{ item.imageUrl }}"
								style="margin-left: 0px; border-radius: 6px"
								width="200rem"
							/>
						</figure>
					</span>
					<nb-card>
						<nb-card-body>
							<p>
								Price :
								<span style="margin-top: 10px; font-size: 120%; color: #388e3c"
									>₹{{ item.price }}</span
								>
							</p>
							<p>
								Quantity available:
								<span *ngIf="item.quantity > '15'">{{ item.quantity }}</span
								><span *ngIf="item.quantity < '15'" style="color: red">{{
									item.quantity
								}}</span>
							</p>
						</nb-card-body>
					</nb-card>
				</nb-card-body>
				<nb-card-footer>
					<button
						(click)="addToLocal(item)"
						id="viewButton"
						nbButton
						status="info"
					>
						View Book
					</button>
					<span style="margin-right: 10px"></span>
					<button
						(click)="addToCart(item)"
						id="addButton"
						nbButton
						status="success"
					>
						Add to Cart
					</button>
				</nb-card-footer>
			</nb-card>
		</nb-layout-column>
	</nb-layout-column>
</nb-layout>
